app = 'meetd'
primary_region = 'ord'

[build]

[env]
  RUST_LOG = "meetd=info"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = "meetd_data"
  destination = "/data"
